{% extends "base.html" %}

{% block content %}
    <h1>Записи в блоге</h1>
    {% if current_user.is_authenticated %}
        <a href="jobs" class="btn btn-secondary">Добавить Работу</a>
    {% endif %}
    {% for item in jobs %}
        <div class="col-md6 border rounded">
            <h2>{{ item.title }}</h2>
            <div>
                Team Leader (id): {{item.team_leader_id}}<br>
                Work size: {{ item.work_size }}<br>
                Collaborators: {{item.collaborators}}<br>
                Category: {{item.categories[0].name}}<br>
            </div>
            {% if current_user.is_authenticated and (current_user.id == item.user_created or current_user.id == 1) %}
                <div>
                    <a href="/job/{{ item.id }}" class="btn btn-warning">Изменить</a>
                    <a href="/job_delete/{{ item.id }}" class="btn btn-danger">Удалить</a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}